ul{
    border: 2px solid red;
    

}
ul li{
    display:flex;
    flex-direction: row;
    margin-left: 100px;
    border: 2px solid #240f0f;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: yellow;

    
}
.active1{
    color: blue;
    text-decoration: none;
    align-items: center;
}
.active{
    color: red;
    background-color: antiquewhite;
}
